.dnone {
    display:none;
}

.dblock{
    display:block;
}


.want_cat p a.clicked {
		font-family:"Agency FB";
		font-size:14px;
		text-decoration:none;
		color:#CC6600;
}


#category_2 p.clicked {
	background:#fbd5b5;
}

#category_2 .clicked  a{
    color: #CC6600;
}

#category_3 p.clicked {
	background:#fbd5b5;
}

#category_3 .clicked  a{
    color: #CC6600;
}
