#accordion-example {
	width:900px;
	float:left;
}
h3 {
  margin: 0;
  background-color:#996666;
  width:450px;
  float:left;
}

h3 a {
  background: url("sprite.png") 15px 13px no-repeat;
  display: block;
  padding: 10px;
  padding-left: 32px;
  margin: 0;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
h3:hover { background:none}
h3.open  { background:none}
h3.open a { background-position: 13px -25px; }
h3 + div { padding: 10px; float:left; width:900px; }

h2 + div,
.example {
  background: #fff;
  overflow: hidden;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-bottom: 20px;
   float:left; width:900px;
}

/* Pre hide sections with JavaScript on
--- */
h3+div {
  display: none;
   float:left; width:900px;
}

/* CSS3 Animation example
--- */
#css3-animated-example h3 + div {
  height: 0px;
  padding: 0px;
  overflow: hidden;
  background: #000;
  display: block!important;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition:all 0.3s ease;
	transition: all 0.3s ease;
	 float:left; width:900px;
}
#css3-animated-example .content {
  padding: 10px;
   float:left; width:900px;
}

#css3-animated-example h3.open + div {
  height: auto;
  background: #aaffff;
   float:left; width:900px;
}

/* Event example
--- */
pre#event-log {
  background: #fafacc;
  padding: 10px;
  display: block;
}

